<footer>
    <div class="foot-content">
        <div class="foot-col">
            <div class="foot-col-head">Column</div>
            <ul>
                <li>List Item</li>
                <li>List Item</li>
                <li>List Item</li>
            </ul>
        </div>
        <div class="foot-col">
            <div class="foot-col-head">Column</div>
            <ul>
                <li>List Item</li>
                <li>List Item</li>
            </ul>
        </div>
        <div class="foot-col foot-col-right">
            <div class="foot-col-head brand">Borrow<span>Bees</span></div>
            <ul>
                <li>List Item</li>
                <li>List Item</li>
            </ul>
        </div>
    </div>
</footer>