footer {
    background-color: #6457a6;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 4px;
        background-color: #2f2f2f7f;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #e3b505;
    }
}

.foot-content {
    left:0;
    right:0;
    padding: 1% 2%;
    color: #fafafa;
    display: flex;
    flex-direction: row;
}

.foot-col {
    width:33%;
    margin-right: 32px;
    font-weight: 400;
    & ul {
        list-style: none;
    }
    &.foot-col-right {
        flex-grow: 1;
        margin-right: 0;
        text-align: right;
    }
}

.foot-col-head {
    font-weight: 600;
}
