header {
    height: 74px;
    display: flex;
    flex-direction: row;
    background-color: #6457a6;
    align-items: center;
    justify-content: center;
    line-height: 1;
    flex-shrink: 0;

    & > * {
        display: flex;
        flex-grow: 1;
    }
    & > .head-search {
        justify-content: center;
        flex-basis: 100%;
        max-width: 880px;
    }

    & .brand {
        font-size: 42px;
        padding-left: 8px;
    }

    & > .head-brand > * {
        margin-right: auto;
    }

    & > .head-links > * {
        margin-left: auto;
    }
}

.head-search > form {
    width: 100%;
}

.head-search > form > input {
    width: 100%;
    border-radius: 24px;
    height: 48px;
    padding: 0 24px;
    line-height: 46px;
    border: 1px solid #2f2f2f66;
}

.head-links {
    font-size: 18px;

    & a {
        color: #e3b505;
        margin-right: 32px;
    }
}
