
input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid #2F2F2F33;
    padding: 7px 14px;
    outline: none;
    background-color: #FAFAFA;

    &:focus {
        border-color: #2F2F2F77;
    }
}

// Remove Chrome's auto-fill blue highlight

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
