* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #EAEAEA;
  color: #2F2F2F;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #6457a6;
}

.brand {
  color: #e3b505;
  font-weight: 300 !important;
}

.brand > span {
  font-weight: 600;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.boxed-content {
  padding: 24px 54px;
  align-self: center;
  justify-self: center;
  margin: auto;
  background-color: #fafafa;
  max-width: 640px;
  width: 100%;
}

.box-title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 8px;
}

.box-text {
  text-align: center;
}

.box-text > p {
  margin-bottom: 8px;
}

form input[type=text],
form input[type=password],
form input[type=email] {
  width: 100%;
}

.form-small {
  font-size: 13px;
}

.form-under-input {
  font-size: 14px;
  margin-top: -12px;
}

.form-group {
  width: 100%;
  margin-bottom: 16px;
}

.form-group-name {
  font-size: 16px;
}

.form-error {
  font-size: 15px;
  color: #e32a05;
  margin-top: 8px;
}

.form-group-error {
  font-size: 13px;
  color: #e32a05;
}

form .required::after {
  content: "*";
  color: #e3b505;
}

.form-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 1.75em;
  margin-bottom: 4px;
}

.form-checkbox input[type=checkbox] {
  display: none;
}

.form-checkbox .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.23077em;
  width: 1.23077em;
  background-color: #fafafa;
  border: 1px solid #6457a6;
  border-radius: 2px;
}

.form-checkbox:hover .checkmark,
.form-checkbox:focus .checkmark {
  background-color: #eaeaea;
}

.form-checkbox:focus {
  outline: none;
}

.form-checkbox input:checked ~ .checkmark {
  background-color: #6457a6;
}

.form-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.form-checkbox .checkmark::after {
  position: absolute;
  content: "";
  display: none;
  left: 50%;
  top: 50%;
  width: 0.2em;
  height: 0.5em;
  border: solid #fafafa;
  border-width: 0 0.2em 0.2em 0;
  transform: translate(-50%, -55%) rotate(45deg);
}

.form-checkbox ~ .form-group-error {
  margin-top: -4px;
  margin-bottom: 4px;
}

.form-required-prompt {
  font-size: 11px;
  margin-top: 8px;
}

.form-required-prompt::before {
  content: "*";
  color: #e3b505;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: center;
}

.form-buttons > * {
  width: 50%;
}

.form-buttons > *:not(:last-child) {
  margin-right: 16px;
}

.btn,
input[type=submit] {
  color: #fafafa;
  background-color: #6457a6;
  border-radius: 21px;
  border: none;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  padding: 11px 16px;
  cursor: pointer;
  outline: none;
  display: block;
}

.btn:hover,
.btn:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #54498c;
}

.btn-light {
  font-weight: 500;
  color: #6457a6;
  border: 1px solid #6457a6;
  background-color: #fafafa;
  padding: 10px 15px;
}

.btn-light:hover,
.btn-light:focus {
  background-color: #eaeaea;
}

input[type=text],
input[type=password],
input[type=email] {
  border: 1px solid #2F2F2F33;
  padding: 7px 14px;
  outline: none;
  background-color: #FAFAFA;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border-color: #2F2F2F77;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

header {
  max-height: 74px;
  display: flex;
  flex-direction: row;
  background-color: #6457a6;
  align-items: center;
  justify-content: center;
  line-height: 1;
  flex-shrink: 0;
}

header > * {
  display: flex;
  flex-grow: 1;
}

header > .head-search {
  justify-content: center;
  flex-basis: 100%;
  max-width: 880px;
  padding: 10px;
}

header .brand {
  font-size: 42px;
  padding-left: 8px;
}

@media (max-width: 600px) {
  header .brand {
    font-size: 6vw;
  }
}

header > .head-brand > * {
  margin-right: auto;
}

header > .head-links > * {
  margin-left: auto;
}

.head-search > form {
  width: 100%;
}

.head-search > form > input {
  left: 0;
  right: 0;
  border-radius: 24px;
  height: 48px;
  padding: 0 24px;
  line-height: 46px;
  border: 1px solid #2f2f2f66;
}

.head-links {
  font-size: 18px;
  padding: 10px;
}

.head-links a {
  color: #e3b505;
  margin-right: 32px;
}

footer {
  background-color: #6457a6;
  position: relative;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #2f2f2f7f;
}

footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #e3b505;
}

.foot-content {
  left: 0;
  right: 0;
  padding: 1% 2%;
  color: #fafafa;
  display: flex;
  flex-direction: row;
}

.foot-col {
  width: 33%;
  margin-right: 32px;
  font-weight: 400;
}

.foot-col ul {
  list-style: none;
}

.foot-col.foot-col-right {
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
}

.foot-col-head {
  font-weight: 600;
}

.banner {
  display: flex;
  flex-direction: row;
  background-color: #d1cde4;
  border-bottom: 2px solid #6457a6;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}

.banner-brand {
  font-size: 4vw;
  color: black;
}

.banner-text {
  width: 30%;
  font-size: 1.5vw;
  color: black;
  text-align: center;
}

.introvideo {
  width: 50%;
  margin: 2%;
}

.item-container {
  display: inline-flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
}

.item-box {
  width: 31%;
  height: 200px;
  padding: 0.5%;
  background-color: white;
  border-radius: 20px;
  margin: 0.5% 1%;
  flex-direction: row;
  display: flex;
}

.item-name {
  font-weight: 1000;
}

.item-image {
  height: 100%;
  padding-right: 10px;
  border-radius: 20px;
  max-width: 33%;
}

.item-info {
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-description {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .banner-text {
    display: none;
  }

  .intro-video {
    width: 80%;
  }

  .item-box {
    width: 48%;
    height: 150px;
  }

  .item-image {
    max-width: 50%;
  }
}

@media (max-width: 650px) {
  .item-box {
    width: 100%;
    height: 100px;
  }

  .item-image {
    max-width: 50%;
  }
}

.bubble {
  height: 100px;
  background-color: #54498c;
  padding: 10px 0;
  width: 95%;
  margin: 1% 2.5%;
  border-radius: 20px;
  text-align: center;
}

.bubble-search {
  width: 70% !important;
  margin: 0 15%;
  border-radius: 10px;
  text-align: center;
}

.bubble-text {
  font-size: 30px;
  color: white;
}

.demoForm {
  background-color: #f0f;
  font: "Comic Sans MS", cursive;
  color: #ff0;
}

