{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox %}
{% block boxed_content %}

<div class="box-title">
    Change Password
</div>
<form>
    <div class="form-group">
        <div class="form-group-name">Old Password</div>
        <input type="password">
    </div>
    <div class="form-group">
        <div class="form-group-name">New Password</div>
        <input type="password">
    </div>
    <div class="form-group">
        <div class="form-group-name">Confirm New Password</div>
        <input type="password">
    </div>

    <div class="form-buttons">
        <input type="submit" value="Change Password">
    </div>
</form>

{% endblock %}