{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox, csrf %}
{% block boxed_content %}

<div class="box-title">
    Recover Account
</div>
<form action="/forgot-password" method="POST">
    <div class="form-group">
        <div class="form-group-name">Email</div>
        <input name="email" type="email">
        <div class="form-group-error">
            {{ errors.first("email") }}
        </div>
    </div>

    <div class="form-under-input">
        Instructions for resetting your password will be sent to this address
    </div>

    <div class="form-buttons">
        <input type="submit" value="Reset Password">
    </div>

    {{ csrf() }}
</form>

{% endblock %}