{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox %}
{% block boxed_content %}

<div class="box-title">
    Recover Account
</div>
<form>
    <div class="form-group">
        <div class="form-group-name">Email</div>
        <input type="email">
    </div>
    <div class="form-under-input">
        Instructions for resetting your password will be sent to this address
    </div>

    <div class="form-buttons">
        <input type="submit" value="Reset Password">
    </div>
</form>

{% endblock %}