{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox %}
{% block boxed_content %}

<div class="box-title">
    Congratulations!
</div>
<div class="box-text">
    <p>Your item has been requested.</p>
    <p>Please monitor your email for the lender's response.</p>
</div>
{% endblock %}