{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox %}
{% block boxed_content %}

<div class="box-title">
    Email sent
</div>
<div class="box-text">
    <p>If we found an account associated with this email, we have sent password reset instructions.</p>
</div>
{% endblock %}