{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox %}
{% block boxed_content %}

<div class="box-title">
    Thank-you for signing up
</div>
<div class="box-text">
    <p>Please check your inbox for the confirmation link we sent you.</p>
    <p>Emails can take a few minutes to arrive, and may appear in your spam or junk folder.</p>
</div>
{% endblock %}