{% extends "bases/generic.twig" %}
{% from "macros.twig" import csrf %}
{% block content %}

Hello world.

<a href="https://google.co.uk" target="_blank">
    <div class="btn">trest</div>
</a>

User email: {{email}}

<form class="demoForm" method="POST" action="/test">
    <div class="form-group">
        <div class="form-group-name">Username</div>
        <input type="text" name="test">
    </div>
    <div class="form-group">
        <div class="form-group-name">New name</div>
        <input type="text" name="test2">
    </div>

    <input type="submit">
    {{ csrf() }}
</form>

{% endblock %}